@import "@material/elevation/mdc-elevation";

.elevation-hover {
  @include mdc-elevation(1);
  @include mdc-elevation-transition;

  &--fast-transitions {
    transition: mdc-elevation-transition-rule(180ms);
  }

  &--default-ease-transitions {
    transition: mdc-elevation-transition-rule($mdc-elevation-transition-duration, ease);
  }

  &:focus {
    @include mdc-elevation(2);
  }

  &:hover {
    @include mdc-elevation(5);
    cursor: pointer;
  }
}
.elevation-active {
  @include mdc-elevation(2);
  @include mdc-elevation-transition;

  &--fast-transitions {
    transition: mdc-elevation-transition-rule(280ms);
  }

  &--default-ease-transitions {
    transition: mdc-elevation-transition-rule($mdc-elevation-transition-duration, ease);
  }

  &:hover {
    @include mdc-elevation(10);
    cursor: pointer;
  }

  &:active {
    @include mdc-elevation(4);
  }
}
.elevation-opacity {
  @include mdc-elevation(0);

  transition:
    mdc-elevation-transition-rule(),
    /* Configure opacity to use same duration and easing values as elevation */
    opacity $mdc-elevation-transition-duration $mdc-elevation-transition-timing-function;
    opacity: 1;
    will-change: $mdc-elevation-property, opacity;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    @include mdc-elevation(10);
  }

  &:active {
    @include mdc-elevation(4);
  }
}
