// My main Material Design Sass file for the web.
// $mdc-theme-primary: #C77E4F;
// $mdc-theme-secondary: #5C7A94;
$mdc-theme-background: #E1D9D0;
$mdc-theme-primary: #108db8;
$mdc-theme-secondary: #082e3b;
$mdc-theme-custom: #001E29;
$sans-serif-font: 'Roboto', Helvetica, Arial, 'Lucida Grande', sans-serif;

.mdc-snackbar { transform: translateY(100%); }
